services:
  db:
    image: postgres:16
    restart: unless-stopped
    container_name: metricsboard-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: metricsboard
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
